* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    padding: 15px 30px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

/* Estilo do link da logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Estilo dos outros links */
.nav-links a:not(.logo) {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #00bcd4;
}











/* box de cores */
.cores {
    width: 100%;

    .azul {
        height: 40vh;
        background-color: #00bcd4;
    }

    .vermelho {
        height: 30vh;
        background-color: #d40035;
    }

    .amarelo {
        height: 40vh;
        background-color: #c0d315;
    }

    .roxo {
        height: 34vh;
        background-color: #64189b;
    }
}